<form role="form" class="form-horizontal" novalidate angular-validator name="addForm" angular-validator-submit="vm.Save(vm.item)">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{ vm.title }}</h4>
            </div>
            <div class="panel-body">
                <div ng-show="vm.loadingData">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div ng-show="!vm.loadingData">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Informations sur l'utilisateur</strong>
                                <div class="pull-right">
                                    <buton ng-show="vm.isNewItem" class="btn btn-primary btn-xs" ng-click="vm.openSearchPerson();">Importer une personne</buton>
                                </div>           
                            </div>
                            <div class="panel-body">
                                <div class="">
                                	<div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="Name"><small style="color: red">*</small>&nbsp;&nbsp;Nom</label>
                                            <input type="text" class="form-control" ng-model="vm.item.lastName" name="Name" id="Name" placeholder="Renseigner le nom"
                                                   validate-on="blur" required required-message="'Nom est un champ obligatoire'">
                                        </div>

                                        <div class="col-sm-6 selectContainer">
                                            <label class="control-label" for="FirstName"><small style="color: red">*</small>&nbsp;&nbsp;Prénom</label>
                                            <input type="text" class="form-control" ng-model="vm.item.firstName" name="FirstName" id="FirstName" placeholder="Renseigner le prénom" validate-on="blur" required required-message="'Prénom est un champ obligatoire'">
                                        </div>
                                    </div>
                                    <div class="form-group">
										<div class="col-sm-6">
                                            <label class="control-label" for="Username"><small style="color: red">*</small>&nbsp;&nbsp;Pseudo {{repository.domain}}</label>
                                            <input ng-disabled="!vm.isNewItem" type="text" class="form-control" ng-model="vm.item.username" name="Username" id="Username" placeholder="Renseigner le username" validate-on="blur" required required-message="'Le pseudo est un champ obligatoire'">
                                        </div>
                                        <div class="col-sm-6 selectContainer">
                                            <label class="control-label" for="email">Adresse mail</label>
                                            <input type="email" class="form-control" ng-model="vm.item.email" id="email" name="email" placeholder="Renseigner l'adresse mail">
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="dateOfBirth">Date de naissance</label>
                                            <p class="input-group">
                                                <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" uib-datepicker-popup="{{vm.datepicker.format}}" ng-model="vm.item.birthDate" is-open="vm.datepicker.opened" datepicker-options="vm.dateOptions" placeholder="dd/MM/yyyy" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="vm.openDatePicker($event, prop)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>

                                        <div class="col-sm-6 selectContainer">
                                            <label class="control-label" for="Addresse">Adresse</label>
                                            <input type="text" class="form-control" ng-model="vm.item.address" name="Addresse" id="Addresse" placeholder="Renseigner l'adresse">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="Tel1">Tel 1</label>
                                            <input type="text" class="form-control" ng-model="vm.item.tel1" name="Tel1" id="Tel1" placeholder="Renseigner le téléphone 1">
                                        </div>

                                        <div class="col-sm-6">
                                            <label class="control-label" for="Tel2">Tel 2</label>
                                            <input type="text" class="form-control" ng-model="vm.item.tel2" name="Tel2" id="Tel2" placeholder="Renseigner le téléphone 2">
                                        </div>
                                    </div>
                                    <div class="form-group">
										<div class="checkbox">
											<label><input name="Sex" type="radio" value="M" ng-model="vm.item.sex"> Homme</label>
											<label><input name="Sex" type="radio" value="F" ng-model="vm.item.sex"> Femme</label>
										</div>
									</div>
                                </div>
                            </div>
                            <div class="panel-footer clearfix">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Profil de l'utilisateur</strong>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered">
                                        <tr>
                                            <th></th>
                                            <th>Libellé</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.profiles" ng-click="vm.selectProfile(item)">
                                            <td class="shortPadding"><input type="radio" name="Profile" ng-checked="item.choosed" class="form-control"/></td>
                                            <td class="shortPadding">{{ item.name }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer clearfix">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" click-once>{{ vm.saveLabel }}</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.cancelEdit()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</form>