<form role="form" class="form-horizontal" novalidate angular-validator name="addForm" angular-validator-submit="vm.Save(vm.item)">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{ vm.title }}</h4>
            </div>
            <div class="panel-body">
                <div ng-show="vm.loadingData">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div ng-show="!vm.loadingData">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Informations sur l'utilisateur</strong>
                                <div class="pull-right">
                                    <button type="button" ng-if="vm.item.id" class="btn btn-primary btn-xs" ng-click="vm.identify();">Editer informations</button>
                                    <button type="button" ng-if="vm.isNewItem" class="btn btn-primary btn-xs" ng-click="vm.openSearchPerson();">Rechercher</button>
                                </div>           
                            </div>
                            <div class="panel-body">
                                <div class="">
                                	<div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="control-label" for="Name">Nom & prénoms</label>
                                            <input type="text" class="form-control" ng-model="vm.item.name" name="Name" id="Name" placeholder="Nom & prénom(s)" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
										<div class="col-sm-6">
                                            <label class="control-label" for="Username"><small style="color: red">*</small>&nbsp;&nbsp;Pseudo {{repository.domain}}</label>
                                            <input ng-disabled="!vm.isNewItem" type="text" class="form-control" ng-model="vm.item.username" name="Username" id="Username" placeholder="Renseigner le username" validate-on="blur" required required-message="'Le pseudo est un champ obligatoire'">
                                        </div>
                                    </div>                                    
                                </div>
                            </div>             
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Profil de l'utilisateur</strong>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered">
                                        <tr>
                                            <th></th>
                                            <th>Libellé</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.profiles" ng-click="vm.selectProfile(item)">
                                            <td class="shortPadding"><input type="radio" name="Profile" ng-checked="item.choosed" class="form-control"/></td>
                                            <td class="shortPadding">{{ item.name }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" click-once>{{ vm.saveLabel }}</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.cancelEdit()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</form>