<div id="sidebar" class="sidebar-offcanvas" role="navigation">
    <div class="col-md-12">
        <h3>Achats</h3>
        <ul class="nav nav-pills nav-stacked">
        	<li class="nav-divider"></li>
            <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".dashboard">Tableau de bord<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".quotation-request">Demandes de devis<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".quotation-request">Bons de commande<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".quotation-request">Factures<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".quotation-request">Paiements<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>  
            <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".product-category">Fournisseurs<i class="fa fa-home fa-fw pull-right"></i></a></li>                                                              
        </ul>
    </div>
</div>