
<div ng-show="vm.loadingData">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="container-fluid" style="margin-top:-60px" ng-show="!vm.loadingData">
        	<div class="table-responsive">
            <table class="table table-bordered table-responsive" style="min-height:100%;min-width:100%">
                <tbody>
                    <tr >
                        <td class="col-md-5">
                            Caissier connecté : <strong>{{ vm.currentSession.cashier }}</strong> (<strong>{{ vm.currentSession.pdv }}</strong>)
                            <button class="btn btn-primary btn-sm pull-right" ng-click="vm.close()">Fermer</button>
                            <button class="btn btn-primary btn-sm pull-right" ng-click="vm.refresh()" style="margin-right:10px;"><i class="fa fa-refresh"></i> Actualiser</button>
                        </td>
                        <td class="col-md-7">
                              <div class="row">
                              		<div class="col-md-9">
                              			<span>Montant total encaissé : <strong>{{vm.totalAmountPaid | companyCurrency}}</strong></span>
                              		</div>
                              		<div class="col-md-3">
                              			<button class="btn btn-primary btn-sm pull-right" ng-click="vm.terminateSession()">Clôturer session</button>
                              		</div>
                              </div>              
                        </td>                       
                    </tr>
                    <tr class="bg-primary dker" style="height:80%">                        
                        <td class="col-md-5">
                            <div style="height:100%" ng-show="vm.currentOrder.products.length == 0">
                                <div class="text-center">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                    <h1>Votre panier est vide</h1>
                                </div>
                            </div>
                            <table class="table bg-primary dker" ng-show="vm.currentOrder.products.length > 0">
                                <tbody>
                                	<tr>
                                		<td colspan="2">Date d'édition : {{vm.currentOrder.orderDate | date:'dd/MM/yyyy'}} - Réf Bon de commande : {{vm.currentOrder.reference}}</td>
                                	</tr>
                                    <tr class="bg-primary" ng-class="{ lter : arst.selected, dker: !arst.selected }" ng-repeat="arst in vm.currentOrder.products" ng-click="vm.selectPanelArticle($index)">
                                        <td>
                                            <span><i>{{arst.product}}</i></span><br />
                                            <span><i>{{arst.pricingModeId == 1 ? 'Prix unitaire' : 'Prix tranche'}} : {{arst.unitPrice | companyCurrency}} HT</i></span><br />
                                            <span><i>Taxes : {{arst.taxesDescription == '' ? 'Aucune' : arst.taxesDescription}}</i></span><br />
                                            <span><i>Quantité : {{arst.quantity}} {{arst.emballage}}</i></span><br />                                            
                                            <span><i>Remise : {{arst.reduceAmount | companyCurrency}}</i></span><br />
                                        </td>
                                        <td>
                                            <strong class="pull-right">{{ arst.totalAmountTtc | companyCurrency}} TTC</strong>                                      
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">
                                            <strong class="pull-right">Total à payer : {{vm.calculateTotalAmounTtc(vm.currentOrder) | companyCurrency}} TTC</strong>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td class="col-md-7" rowspan="2">
                        	<uib-tabset active="0">
                        		<uib-tab index="0">
                                    <uib-tab-heading>
                                        Produits ({{vm.totalCount}})
                                    </uib-tab-heading>
                                    <div class="panel panel-body bg-primary dker">
                                        <div class="row">
                                        	<div class="col-md-12 clearfix">
                                        		<div class="col-md-5 pull-left">					
									               	<select class="form-control input-sm" id="category" name="category" ng-options="v.id as v.name for v in vm.categories" ng-model="vm.categoryId" ng-change="vm.search(0)">
									               		<option value="">-- choisir une catégorie --</option>
									               	</select>
												</div>
                                        		<div class="col-md-5 pull-right">
                                            		<div class="input-group">
										                <input id="inputSearch" type="search" ng-model-options="{ debounce: 500 }" ng-change="vm.search(0)" ng-model="vm.filter" class="form-control input-sm" placeholder="Filtrer, rechercher par code barre, libellé ...">
										                <div class="input-group-btn">
										                    <button class="btn btn-primary" ng-click="vm.search();"><i class="glyphicon glyphicon-search"></i></button>
										                    <button class="btn btn-primary" ng-click="vm.clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
										                </div>
										            </div>
                                            	</div>
                                        	</div>
                                        	<div ng-show="vm.loadingDataPdToSale">
								                <div class="col-xs-4"></div>
								                <div class="col-xs-4">
								                    <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Chargement des produits...</label>
								                </div>
								                <div class="col-xs-4"></div>
								            </div>
								            <div class="col-md-12 clearfix m-t-md" ng-if="vm.products.length == 0 && !vm.loadingDataPdToSale">
								            	<div class="text-center">
								                    <span><i>Aucun produit trouvé.</i></span>
								                </div>
								            </div>
                                            <div class="col-md-12" ng-show="!vm.loadingDataPdToSale">                                            	                                            
                                                <div class="col-md-4" ng-repeat="item in vm.products">
                                                    <div class="hbox text-center m-t b-t b-b b-light bg-success dker" ng-click="vm.addArticle(item)">
                                                        <a class="col padder-v text-muted b-l b-r b-light">
                                                            <div class="h4">{{item.pricingModeId == 1 ? item.pricingSummary : item.pricingMode}}</div>
                                                            <span>{{item.name}}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 clearfix">
						                       	<div class="text-center">
													<ul uib-pagination first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant" total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="vm.pagesCount" ng-change="vm.pageChanged()"></ul>
												</div>
					                       </div>
                                        </div>
                                    </div>                                    
                                </uib-tab>
                                <uib-tab index="1">
                                    <uib-tab-heading>
                                        <span>Commandes en cours ({{vm.orders.length}})</span> <button class="btn btn-primary btn-sm" ng-click="vm.addNewOrder()"><i class="glyphicon glyphicon-plus"></i></button>
                                    </uib-tab-heading>
                                    <div class="panel panel-body bg-primary dker">              
                                        <div class="row">
                                            <div class="btn-group btn-group-lg m-r-sm m-t-sm" ng-repeat="order in vm.orders">
				                                <button type="button" ng-click="vm.selectTabOrder(order)" ng-class="{ 'bg-warning' : order.orderPosition == vm.currentOrder.orderPosition, 'bg-success' : order.orderPosition != vm.currentOrder.orderPosition }" class="btn dker btn-lg">
				                                    <i class="fa fa-shopping-basket fa-2x"></i> Panier {{order.orderPosition}}
				                                </button>
				                                <button type="button" class="btn btn-primary btn-lg" ng-disabled="!vm.currentOrder.id" ng-click="vm.changerOrderDate(order)">
				                                    <i class="fa fa-cog fa-2x"></i>
				                                </button>
				                            </div>
                                        </div>
                                    </div>                                    
                                </uib-tab>                                 
                                <uib-tab index="2">
                                    <uib-tab-heading>
                                        Commandes réalisées ({{vm.ordersDone.length}})
                                    </uib-tab-heading>
                                    <div class="panel panel-body bg-primary dker">
                                        <div class="row">
                                            <table class="table table-bordered table-condensed shortMargin">
					                			<thead>
					                				<tr class="bg-primary dker">
					                					<th>Date édition</th>
					                					<th>Réf</th>
					                					<th>Client</th>
					                					<th>Total TTC</th>
					                					<th></th>
					                				</tr>		                				
					                			</thead>
					                			<tbody>
					                				<tr ng-repeat="item in vm.ordersDone" class="bg-primary dker">
					                					<td class="shortMargin">{{item.orderDate}}</td>
					                					<td class="shortMargin">{{item.reference}}</td>
					                					<td class="shortMargin">{{item.customer}}</td>
					                					<td class="shortMargin">{{item.totalAmountTtc | number}}</td>	
					                					<td>
								                        	<button class="btn btn-primary btn-xs" ng-if="item.statusId == 4" ng-click="vm.pay(item)"><i class="fa fa-money"></i> Régler</button>
								                        </td>				                					
					                				</tr>
					                				<tr ng-if="vm.ordersDone.length == 0">
						                                <td colspan="5" class="text-center"><i>Aucune commande réalisée.</i></td>
						                            </tr>					                				
					                			</tbody>
					                		</table>
                                        </div>
                                    </div>                                    
                                </uib-tab>
                            </uib-tabset>                                                             
                        </td>
                    </tr>
                    <tr style="height:20%">
                        <td class="col-md-5">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4" style="padding:0">
                                            <button ng-click="vm.openSearchCustomer()" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0"><i class="fa fa-male"></i> {{ vm.currentOrder.customerId ? vm.currentOrder.customer : 'Client' }}</button>
                                        </td> 
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(1)">1</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(2)">2</button>
                                        </td>   
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(3)">3</button>
                                        </td>  
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0" ng-click="vm.btnQteClick()" ng-disabled="vm.currentOrder.currentIndex == null" ng-class="{ 'btn-default': !vm.btnQteEnabled, 'btn-primary': vm.btnQteEnabled }">Qté</button>
                                        </td>                                 
                                    </tr>
                                    <tr>    
                                    	<td class="col-md-4" style="padding:0">
                                            <button ng-click="vm.invoice()" ng-disabled="vm.currentOrder.products.length == 0 || vm.invoicing" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;"><i class="fa fa-money"></i> Facturer</button>
                                        </td>                                                                          
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(4)">4</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(5)">5</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(6)">6</button>
                                        </td>       
                                        <td class="col-md-2" style="padding:0">
                                            <button ng-click="vm.reset()" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0">Reset</button>
                                        </td>                         
                                    </tr>
                                    <tr>
                                        <td class="col-md-4" style="padding:0">
                                            <button ng-click="vm.pay(vm.currentOrder)" ng-disabled="vm.currentOrder.products.length == 0" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;"><i class="fa fa-money"></i> Régler</button>
                                        </td>                                        
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(7)">7</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(8)">8</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(9)">9</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button ng-click="vm.retirerNumber()" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0"><i class="fa fa-arrow-left"></i> Arr.</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-2" style="padding:0">
                                            <button ng-click="vm.retirerArticle()" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;"><i class="fa fa-trash-o"></i> Supprimer article</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0;" ng-click="vm.addNumber(0)">0</button>
                                        </td>
                                        <td class="col-md-2" style="padding:0">
                                            <button ng-click="vm.addNumber('00')" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0">00</button>
                                        </td>                                        
                                        <td class="col-md-2" style="padding:0">
                                            <button ng-click="vm.addNumber('000')" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0">000</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="col-md-2" style="padding:0">
                                            <button ng-disabled="!vm.currentOrder || vm.cancelingOrder" ng-click="vm.cancelOrder(vm.currentOrder)" type="button" class="btn btn-default btn-block btn-lg" style="border-radius:0;margin:0">Annuler commande</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>