<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Clients</h4>
		<div class="input-group col-md-6 pull-right">
               <input id="inputSearch" type="search" ng-model-options="{ debounce: 500 }" ng-change="vm.search(0)" ng-model="vm.filter" class="form-control input-sm" placeholder="Filtrer, rechercher par nom & prénoms...">
               <div class="input-group-btn">
                   <button class="btn btn-primary" ng-click="vm.search();"><i class="glyphicon glyphicon-search"></i></button>
                   <button class="btn btn-primary" ng-click="vm.clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
               </div>
           </div>
	</div>
	<div class="panel-body">
		<div ng-show="vm.loadingData">
               <div class="col-xs-4"></div>
               <div class="col-xs-4">
                   <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
               </div>
               <div class="col-xs-4"></div>
           </div>
		<div class="col-md-12" ng-show="!vm.loadingData">
			<div class="row table-responsive">
				<table class="table table-condensed shortMargin">
	                <tr>
	                    <th></th>
	                    <th>Nom</th>
	                    <th>Prénoms</th>
	                    <th>Genre</th>   
	                    <th>Tel 1</th>  
	                    <th>Tel 2</th>  
	                    <th>E-mail</th>   
	                    <th></th>                 
	                </tr>
	                <tr style="cursor:pointer;" ng-repeat="item in vm.items" ng-click="vm.selectItem(item)">
	                    <td class="shortPadding"><input class="radio" type="radio" name="choose" ng-checked="item.Choosed" /></td>
	                    <td class="shortPadding">{{ item.lastName }}</td>
	                    <td class="shortPadding"><i>{{ item.firstName }}</i></td>
	                    <td class="shortPadding"><i>{{ item.sex == 'M' ? 'Masculin' : 'Féminin' }}</i></td>	
	                    <td class="shortPadding"><i>{{ item.tel1 }}</i></td>
	                    <td class="shortPadding"><i>{{ item.tel2 }}</i></td>
	                    <td class="shortPadding"><i>{{ item.email }}</i></td>
	                    <td>
	                    	<button type="button" class="btn btn-primary btn-xs" ng-click="vm.modifyItem(item)"><i class="fa fa-pencil"></i></button>
	                    </td>	                    
	                </tr>
	            </table>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<label class="label label-danger">Total : {{vm.totalCount}} éléments - {{vm.pagesCount}} pages</label>
		<div class="text-center">
			<ul uib-pagination first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant" total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="vm.pagesCount" ng-change="vm.pageChanged()"></ul>
		</div>		
		<div class="pull-right">	            
            <button type="submit" class="btn btn-primary" ng-click="vm.doChoice()" ng-disabled="!vm.selectedItem">Choisir</button>
            <button type="button" class="btn btn-primary" ng-click="vm.addNew()">Nouveau</button>
            <button type="button" class="btn btn-danger" ng-click="vm.cancelEdit()">Annuler</button>	            
        </div>	
	</div>
</div>