
<div class="col-md-12" ng-controller="printPreviewCtrl">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Aperçu avant impression </h4>			
				<div class="pull-right">
					<div class="form-inline">
		            	<span>Page: </span>
			            <input class="form-control input-sm" style="color: black;" type="number" ng-min="1" ng-max="pageCount" ng-model="pageNum">		            
			            <span> / {{pageCount}}</span>
			            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!canGoPrevious" ng-click="goPrevious()"><i class="fa fa-arrow-left"></i></button>
			            <button type="button" class="btn btn-primary btn-sm" ng-disabled="!canGoNext" ng-click="goNext()"><i class="fa fa-arrow-right"></i></button>
		            </div>
				</div>	
			</div>
			<div class="panel-body">			
				<div class="panel panel-default">
				    <div class="panel-body" style="max-height: 450px; overflow-y: scroll;">
				        <div ng-show="loadingData">
				            <div class="col-xs-4"></div>
				            <div class="col-xs-4">
				                <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading report...</label>
				            </div>
				            <div class="col-xs-4"></div>
				        </div>
				        <div id="viewer" ng-show="!loadingData">
							<ng-pdf template-url="main/print-preview/viewer.html"></ng-pdf>
						</div>
				    </div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="pull-left">
		            <button type="button" class="btn btn-primary" ng-click="refresh()">Actualiser</button>	            
		        </div>
				<div class="pull-right">
		            <button type="button" class="btn btn-primary" ng-click="print()">Imprimer</button>
		            <button type="button" class="btn btn-primary" ng-click="exportPdf()">Export PDF</button>
		            <button type="button" class="btn btn-primary" ng-click="exportXls()">Export EXCEL</button>
		            <button type="button" class="btn btn-default" ng-click="close()">Fermer</button>	            
		        </div>						
			</div>
		</div>
	</div>