<div class="col-md-6">
        <div class="panel panel-success">
			<div class="panel-heading clearfix">
				<h4 class="panel-title pull-left">Résumé des ventes </h4>
				<div class="pull-right form-inline">
                       <select class="form-control input-sm" ng-model="criteriaResumeVente.daySelected" ng-options="v.dayOfMonth as v.name for v in days" ng-change="changeResumeVenteDay(criteriaResumeVente.daySelected)"></select>
                       <select class="form-control input-sm" ng-model="criteriaResumeVente.monthSelected" ng-options="v.number as v.name for v in months" ng-change="changeResumeVenteMonth(criteriaResumeVente.monthSelected)"></select>
                       <select class="form-control input-sm" ng-model="criteriaResumeVente.yearSelected" ng-options="v for v in years" ng-change="changeResumeVenteYear(criteriaResumeVente.yearSelected)"></select>
                       <button class="btn btn-primary btn-sm" ng-click="loadResumeSales()"><i class="fa fa-search"></i></button>
                   </div>
			</div>
			<div class="panel-body">
				<div ng-show="loadingResumeSales">
	                <div class="col-xs-4"></div>
	                <div class="col-xs-4"><i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Load data...</label></div>
	                <div class="col-xs-4"></div>
	            </div>
				<div class="row" ng-show="!loadingResumeSales">
					<div class="col-md-4">
						<h5 class="text-center">Facturé</h5>
						<h4 class="text-center">{{resume.invoiced | companyCurrency}}</h4>
					</div>
					<div class="col-md-4">
						<h5 class="text-center">Encaissé</h5>
						<h4 class="text-center" style="color: green">{{resume.turnover | companyCurrency}}</h4>
					</div>
					<div class="col-md-4">
						<h5 class="text-center">Remboursé</h5>
						<h4 class="text-center" style="color: red">{{resume.returnAmount | companyCurrency}}</h4>
					</div>
				</div>
			</div>
		</div>
    </div>