<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		    </button>
	        <a class="navbar-brand" ui-sref=".dashboard">LightPro</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	    	<ul class="nav navbar-nav">
		        <li ui-sref-active="active"><a ui-sref=".dashboard">Tableau de bord</a></li>    
		        <li ng-class="{ active : vm.isActive(module) }" ng-repeat="module in vm.modulesInstalled"><a ui-sref="{{module.url}}">{{module.name}}</a></li>
		        <li ui-sref-active="{'active': '.settings'}"><a ui-sref=".settings.my-account">Configuration</a></li>
		        <li ui-sref-active="active"><a ui-sref=".about">A propos</a></li>     
		    </ul>
		    <ul class="nav navbar-nav navbar-right">   
		        <li class="dropdown" uib-dropdown>
		            <a class="dropdown-toggle clear" uib-dropdown-toggle>
		                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
		                    <img ng-src="{{repository.loggedUser.photo ? repository.loggedUser.photo : 'content/images/a0.jpg'}}" alt="...">
		                    <i class="on md b-white bottom"></i>
		                </span>
		                <span class="hidden-sm hidden-md">{{repository.loggedUser.username}}</span> <b class="caret"></b>
		            </a>
		            <!-- dropdown -->
		            <ul class="dropdown-menu animated fadeInRight w">
		                <li>
		                    <a ui-sref=".settings.enterprise">Configuration</a>
		                </li>
		                <li>
		                    <a ui-sref=".about">A propos</a>
		                </li>
		                <li class="divider"></li>
		                <li>
		                    <a ng-click="vm.logout()">Se déconnecter</a>
		                </li>
		            </ul>
		            <!-- / dropdown -->
		        </li>
		    </ul>
	    </div>   
    </div>
</nav>