<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">LightPro</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref=".dashboard">Tableau de bord</a></li>    
        <li ng-repeat="module in vm.modulesInstalled"><a ui-sref="{{module.url}}">{{module.name}}</a></li>
        <li><a ui-sref=".settings.enterprise">Configuration</a></li>
        <li><a ui-sref=".about">A propos</a></li>     
    </ul>
    <ul class="nav navbar-nav navbar-right">   
        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle clear" uib-dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img ng-src="{{repository.loggedUser.photo ? repository.loggedUser.photo : 'content/images/a0.jpg'}}" alt="...">
                    <i class="on md b-white bottom"></i>
                </span>
                <span class="hidden-sm hidden-md">User Admin</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref=".settings.enterprise">Configuration</a>
                </li>
                <li>
                    <a ui-sref=".about">A propos</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="vm.logout()">Se déconnecter</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>   
</nav>