<form role="form" novalidate angular-validator name="addForm" angular-validator-submit="vm.confirm()">
<div class="modal-header">
		<h4 class="modal-title">Créer une facture</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<div class="radio">
						<label><input name="type" type="radio" value="1" ng-model="vm.cmd.typeId"> Facture définitive</label>
					</div>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<div class="radio">
						<label><input name="type" type="radio" value="2" ng-model="vm.cmd.typeId"> Acompte en montant</label>
					</div>
				</div>
			</div>
			<div class="form-group" ng-if="vm.cmd.typeId == 2">
				<div class="col-md-offset-3 col-md-9">
					<input type="number" class="form-control btn-sm" ng-model="vm.cmd.amount" placeholder="Saisir un montant">					
				</div>
			</div>		
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<div class="radio">
						<label><input name="type" type="radio" value="3" ng-model="vm.cmd.typeId"> Acompte en pourcentage</label>
					</div>
				</div>
			</div>
			<div class="form-group" ng-if="vm.cmd.typeId == 3">
				<div class="col-md-offset-3 col-md-9">
					<input type="number" class="form-control btn-sm" ng-model="vm.cmd.percent" placeholder="Saisir un pourcentage" ng-min="1" ng-max="100" required>
					<input type="number" class="form-control btn-sm" ng-model="vm.cmd.base" placeholder="Saisir la base" ng-disabled="vm.purchaseOrderId">
				</div>
			</div>
		</div>						
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Continuer</button>
		<button type="button" class="btn" ng-click="vm.cancelEdit()">Annuler</button>                
	</div>
