<form role="form" name="addForm" novalidate angular-validator angular-validator-submit="vm.saveItem()">
	<div class="modal-header">
		<h4 class="modal-title">{{vm.title}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group form-group-sm">
					<label class="control-label" for="product"><small style="color: red">*</small>&nbsp;&nbsp;Produit</label>
			        <div class="input-group">
	                	<input type="text" class="form-control" id="product" name="product" ng-model="vm.item.product" placeholder="Rechercher un produit" required required-message="'Produit est un champ obligatoire'" disabled />
                        <div class="input-group-btn">
                            <button ng-disabled="!vm.isNewItem" type="button" class="btn btn-primary" ng-click="vm.searchProduct()"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-group-sm">
					<label class="control-label" for="category">Catégorie</label>
			        <input type="text" class="form-control" ng-model="vm.item.category" name="category" id="category" placeholder="Catégorie du produit" disabled>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-6">	
				<div class="form-group form-group-sm">
					 <label class="control-label" for="name">Libellé</label>
			         <input type="text" class="form-control" ng-model="vm.item.name" name="name" id="name" placeholder="Libellé sur la facture">
				</div>											
				<div class="form-group form-group-sm">
					 <label class="control-label" for="unitPrice">Prix unitaire</label>
			         <input type="number" class="form-control" ng-model-options="{ debounce: 500 }" ng-model="vm.item.unitPrice" name="unitPrice" id="unitPrice" ng-disabled="vm.item.pricingModeId != 4">
				</div>	
				<div class="form-group form-group-sm">
					 <label class="control-label" for="totalAmountHt">Total hors taxes</label>
			         <input type="number" class="form-control" ng-model="vm.item.totalAmountHt" name="totalAmountHt" id="totalAmountHt" disabled>
				</div>
				<div class="form-group form-group-sm">
					 <label class="control-label" for="reduction">Réduction</label>
			         <input type="number" class="form-control" ng-model="vm.item.reduceAmount" name="reduction" id="reduction" disabled>
				</div>
				<div class="form-group form-group-sm">
					 <label class="control-label" for="netCommercial">Net commercial</label>
			         <input type="number" class="form-control" ng-model="vm.item.netCommercial" name="netCommercial" id="netCommercial" disabled>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group form-group-sm">
					 <label class="control-label" for="description">Description</label>
			         <input type="text" class="form-control" ng-model="vm.item.description" name="description" id="description" placeholder="Décrire l'article">
				</div>
				<div class="form-group form-group-sm">
					 <label class="control-label" for="quantity"><small style="color: red">*</small>&nbsp;&nbsp;Quantité</label>
			         <input type="number" class="form-control" ng-model-options="{ debounce: 500 }" ng-model="vm.item.quantity" name="quantity" id="quantity" placeholder="Renseigner la quantité" validate-on="blur" required required-message="'Quantité est un champ obligatoire'">
				</div>	
				<div class="form-group form-group-sm">
					 <label class="control-label" for="tax">Taxes</label>
			         <ui-select multiple ng-model="vm.item.taxes" theme="bootstrap" sortable="true" close-on-select="false" ng-disabled="!vm.item.productId">
					    <ui-select-match placeholder="Sélectionner une taxe...">{{$item.resumeName}}</ui-select-match>
					    <ui-select-choices repeat="tax in vm.taxes | propsFilter: {shortName: $select.search}">
					      <div ng-bind-html="tax.shortName | highlight: $select.search"></div>
					      <small>
					        valeur: <span>{{tax.valueSummary}}</span>
					      </small>
					    </ui-select-choices>
					  </ui-select>
				</div>
				<div class="form-group form-group-sm">
					 <label class="control-label" for="totalTaxAmount">Taxes</label>
			         <input type="number" class="form-control" ng-model="vm.item.totalTaxAmount" name="totalTaxAmount" id="totalTaxAmount" disabled>
				</div>		
				<div class="form-group form-group-sm">
					 <label class="control-label" for="totalAmountTtc">Total TTC</label>
			         <input type="number" class="form-control" ng-model="vm.item.totalAmountTtc" name="totalAmountTtc" id="totalAmountTtc" disabled>
				</div>			
			</div>
		</div>			
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">{{vm.btnSaveLabel}}</button>
		<button type="button" class="btn" ng-click="vm.cancelEdit()">Annuler</button>                
	</div>
</form>

