<form role="form" class="form-horizontal" novalidate angular-validator name="addForm" angular-validator-submit="vm.Save(vm.item)">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Changer mon mot de passe</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="OldPassword"><small style="color: red">*</small>&nbsp;&nbsp;Ancien mot de passe :</label>
                    <input type="password" class="form-control" ng-model="vm.item.oldPassword" name="OldPassword" id="OldPassword" placeholder="Renseigner mot de passe"
                           validate-on="blur" required>
                </div>

                <div class="col-sm-12">
                    <label class="control-label" for="NewPassword"><small style="color: red">*</small>&nbsp;&nbsp;Nouveau mot de passe :</label>
                    <input type="password" class="form-control" ng-model="vm.item.newPassword" name="NewPassword" id="NewPassword" placeholder="Renseigner mot de passe"
                           validate-on="blur" required>
                </div>

                <div class="col-sm-12">
                    <label class="control-label" for="ConfirmPassword"><small style="color: red">*</small>&nbsp;&nbsp;Confirmer mot de passe :</label>
                    <input type="password" class="form-control" ng-model="vm.item.confirmPassword" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirmer le mot de passe" validate-on="blur" required>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <span>(*) champ obligatoire</span>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" click-once>OK</button>
                <button type="button" class="btn btn-primary" ng-click="vm.cancelEdit()">Annuler</button>
            </div>
        </div>
    </div>
</form>