<div class="row">
	<form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="vm.login()">
		<h3 class="form-signin-heading">LightPro <span class="badge badge-sm up" style="background-color:green;">{{modeText}}</span></h3>
		<div class="form-group">
			<label for="inputUsername" class="sr-only">Pseudo</label>			
			<div class="input-group">
			  <input type="text" id="inputUsername" name="inputUsername" class="form-control" autocomplete="off" ng-model="vm.credentials.fullUsername" placeholder="Pseudo@domain" validate-on="blur" required required-message="'Peusdo est obligatoire'">
			  <span  class="input-group-addon">{{repository.domain ? repository.domain : '@'}}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="sr-only">Mot de passe</label>
			<input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="vm.credentials.password" placeholder="Mot de passe" validate-on="blur" required required-message="'Mot de passe obligatoire'">			
		</div>
        <div class="form-group">
            <div class="checkbox pull-right">
                <label class="i-checks">
                    <input type="checkbox" ng-model="vm.credentials.rememberMe">
                    <i></i>
                    Se souvenir de moi ?
                </label>
            </div>
        </div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
	</form>

</div>