<form role="form" novalidate angular-validator name="addForm" angular-validator-submit="vm.saveItem()">
	<div class="panel panel-primary">
		<div class="panel-heading">
			{{vm.title}}
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label" for="categoryType"><small style="color: red">*</small>&nbsp;&nbsp;Type de produit</label>
                <select class="form-control" id="categoryType" name="categoryType" ng-options="v.id as v.name for v in vm.types" ng-disabled="!vm.isNewItem"
                        ng-model="vm.item.typeId" validate-on="blur" required required-message="'Type de produit est un champ obligatoire'" ng-change="vm.categoryTypeChanged(vm.item.typeId)"> 
                        <option value="">-- choisir un type --</option>
                        </select>
			</div>
			<div class="form-group">
				<label class="control-label" for="Name"><small style="color: red">*</small>&nbsp;&nbsp;Libellé</label>	            
				<input type="text" class="form-control" ng-model="vm.item.name" name="Name" id="Name" placeholder="Renseigner le libellé" validate-on="blur" required required-message="'Libellé est un champ obligatoire'">
			</div>					
			<div class="form-group">
				<label class="control-label" for="Description">Description</label>
                <textarea rows="3" class="form-control" name="Description" id="Description" ng-model="vm.item.description" placeholder="Renseigner les caractéristiques du produit"></textarea>
			</div>	
		</div>
		<div class="panel-footer clearfix">
			<span>(*) champ obligatoire</span>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">{{vm.btnSaveLabel}}</button>
				<button type="button" class="btn btn-danger" ng-click="vm.cancelEdit()">Annuler</button>                
			</div>
		</div>
	</div>
</form>