<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Modules</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
            	<uib-tabset active="vm.active">
            	   <uib-tab index="0">
                       <uib-tab-heading>
                           <i class="glyphicon glyphicon-cloud-download"></i> Modules installés <span class="badge badge-sm up pull-right" style="background-color:orange;">{{vm.totalCountInst}}</span>
                       </uib-tab-heading>
                     	 <div class="panel panel-body">
                           <div class="row">
                               <div class="col-md-12">
                               	   <div class="col-md-12 m-b-md">
                               	   		<div class="input-group col-md-4 pull-right">
							                <input id="inputSearch" type="search" ng-model-options="{ debounce: 500 }" ng-change="vm.searchInst(0)" ng-model="vm.filterInst" class="form-control input-sm" placeholder="Filtrer, rechercher les modules installés ...">
							                <div class="input-group-btn">
							                    <button class="btn btn-primary" ng-click="vm.searchInst();"><i class="glyphicon glyphicon-search"></i></button>
							                    <button class="btn btn-primary" ng-click="vm.clearSearchInst();"><i class="glyphicon glyphicon-remove-sign"></i></button>
							                </div>
							            </div>
                               	   </div>
                               	   <div ng-show="vm.loadingDataInst">
						                <div class="col-xs-4"></div>
						                <div class="col-xs-4">
						                    <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
						                </div>
						                <div class="col-xs-4"></div>
						            </div>
                                   <div class="col-xs-12 col-sm-6" ng-show="!vm.loadingDataInst" ng-repeat="module in vm.modulesInstalled">
								        <div class="panel panel-default">
								            <div class="panel-heading clearfix">
								                <strong> {{module.name}} </strong> 
								                <span class="badge badge-sm up" style="background-color:green;" ng-if="module.isActive">Activé</span> 
								                <span class="badge badge-sm up" style="background-color:red;" ng-if="!module.isActive">Désactivé</span>
								            </div>
								            <div class="panel-body">
								                <div class="media">
								                    <div class="media-body">
								                        <div>
								                        	{{module.description}}
								                        </div>
								                    </div>
								                </div>
								            </div>
								            <div class="panel-footer clearfix" ng-if="!module.isAdminModule">
												<div class="pull-right">																									
													<button ng-if="isGranted('ADMIN-MODULE-ENABLE') && !module.isActive" type="button" class="btn btn-primary btn-sm" ng-click="vm.activateModule(module)">Activer <i class="fa fa-cog fa-fw"></i></button>
													<button ng-if="isGranted('ADMIN-MODULE-DISABLE') && module.isActive" type="button" class="btn btn-primary btn-sm" ng-click="vm.activateModule(module)">Désactiver <i class="fa fa-cog fa-fw"></i></button>
													<button ng-if="isGranted('ADMIN-MODULE-UNINSTALL')" type="button" class="btn btn-danger btn-sm" ng-click="vm.uninstallModule(module)">Désinstaller <i class="fa fa-cog fa-fw"></i></button>
												</div>
								            </div>
								        </div>
								    </div>
                               </div>                               
                           </div>
                       </div>  
                       <div class="panel-footer clearfix">
	                       	<div class="text-center">
								<ul uib-pagination first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant" total-items="vm.totalCountInst" ng-model="vm.currentPageInst" items-per-page="vm.pageSizeInst" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="vm.pagesCountInst" ng-change="vm.pageChangedInst()"></ul>
							</div>
                       </div>                                                        
                   </uib-tab>
                   <uib-tab index="1">
                       <uib-tab-heading>
                           <i class="glyphicon glyphicon-cloud"></i> Modules disponibles <span class="badge badge-sm up pull-right" style="background-color:greenyellow;">{{vm.totalCountDispo}}</span>
                       </uib-tab-heading>
                       <div class="panel panel-body">
                           <div class="row" style="max-height:550px; overflow-y: scroll;">
                               <div class="col-md-12">
                               	   <div class="col-md-12 m-b-md">
                               	   		<div class="input-group col-md-4 pull-right">
							                <input id="inputSearch" type="search" ng-model-options="{ debounce: 500 }" ng-change="vm.searchDispo(0)" ng-model="vm.filterDispo" class="form-control input-sm" placeholder="Filtrer, rechercher les modules disponibles ...">
							                <div class="input-group-btn">
							                    <button class="btn btn-primary" ng-click="vm.searchDispo();"><i class="glyphicon glyphicon-search"></i></button>
							                    <button class="btn btn-primary" ng-click="vm.clearSearchDispo();"><i class="glyphicon glyphicon-remove-sign"></i></button>
							                </div>
							            </div>
                               	   </div>
                               	   <div ng-show="vm.loadingDataDispo">
						                <div class="col-xs-4"></div>
						                <div class="col-xs-4">
						                    <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
						                </div>
						                <div class="col-xs-4"></div>
						            </div>
                                   <div class="col-xs-12 col-sm-6" ng-show="!vm.loadingDataDispo" ng-repeat="module in vm.modulesAvailable">
								        <div class="panel panel-default">
								            <div class="panel-heading">
								                <strong> {{module.name}} </strong>
								            </div>
								            <div class="panel-body">
								                <div class="media">
								                    <div class="media-body">
								                        <div>
								                        	{{module.description}}
								                        </div>
								                    </div>
								                </div>
								            </div>
								            <div class="panel-footer clearfix">
												<div class="pull-right">
													<button ng-if="isGranted('ADMIN-MODULE-INSTALL')" type="button" class="btn btn-primary btn-sm" ng-click="vm.installModule(module)">Installer <i class="fa fa-sign-in fa-fw"></i></button>
												</div>
								            </div>
								        </div>
								    </div>								    								   
                               </div>
                           </div>
                       </div>          
                       <div class="panel-footer clearfix">
                       		<div class="text-center">
								<ul uib-pagination first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant" total-items="vm.totalCountDispo" ng-model="vm.currentPageDispo" items-per-page="vm.pageSizeDispo" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="vm.pagesCountDispo" ng-change="vm.pageChangedDispo()"></ul>
							</div>	                       	
                       </div>                           
                   </uib-tab>
               </uib-tabset>                 
            </div>
        </div>
    </div>
</div>