<div id="sidebar" class="sidebar-offcanvas" role="navigation">
    <div class="col-md-12">
        <h3>Hôtel</h3>
        <ul class="nav nav-pills nav-stacked">
        	<li class="nav-divider"></li>
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".dashboard">Tableau de bord<i class="fa fa-home fa-fw pull-right"></i></a></li> 
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".planning">Réservations<i class="fa fa-home fa-fw pull-right"></i></a></li> 
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".day-occupation">Occupations du jour<i class="fa fa-home fa-fw pull-right"></i></a></li> 
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".room-status">Etat des chambres<i class="fa fa-home fa-fw pull-right"></i></a></li>
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".nettoyage">Planning entretien<i class="fa fa-home fa-fw pull-right"></i></a></li>  
	     	<li class="nav-divider"></li>                                            
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".cardex">Cardex<i class="fa fa-home fa-fw pull-right"></i></a></li>
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".booking-history">Historique<i class="fa fa-home fa-fw pull-right"></i></a></li>
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".roomcategory">Cat. de chambres<i class="fa fa-home fa-fw pull-right"></i></a></li>
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".room">Chambres<i class="fa fa-home fa-fw pull-right"></i></a></li>  
	         <li ui-sref-active="active" ng-click="vm.selectMenu()"><a ui-sref=".maid">Personnel entretien<i class="fa fa-home fa-fw pull-right"></i></a></li>                                                   
        </ul>
    </div>
</div>