<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Produits</h4>
			<div class="col-md-6 pull-right">
				<div class="col-md-6">					
                	<select class="form-control input-sm" id="category" name="category" ng-options="v.id as v.name for v in vm.categories" ng-model="vm.categoryId" ng-change="vm.search()">
                		<option value="">-- choisir une catégorie --</option>
                	</select>
				</div>
				<div class="input-group col-md-6">
	                <input id="inputSearch" type="search" ng-model-options="{ debounce: 500 }" ng-change="vm.search(0)" ng-model="vm.filter" class="form-control input-sm" placeholder="Filtrer, rechercher les produits...">
	                <div class="input-group-btn">
	                    <button class="btn btn-primary" ng-click="vm.search();"><i class="glyphicon glyphicon-search"></i></button>
	                    <button class="btn btn-primary" ng-click="vm.clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
	                    <button ng-if="isGranted('SALES-PRODUCT-ADD')" class="btn btn-primary" ng-click="vm.addNew()"><i class="glyphicon glyphicon-plus"></i></button>
	                </div>
	            </div>
			</div>			
		</div>
		<div class="panel-body">
			<div ng-show="vm.loadingData">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading data...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
			<div class="col-md-12" ng-show="!vm.loadingData">
				<div class="row">
					<div class="col-sm-6" ng-repeat="item in vm.items">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <strong>{{item.name}}</strong><br />
	
	                        </div>
	                        <div class="panel-body">
	                            <div class="table-responsive">
	                                <table class="table table-condensed shortMargin">
	                                	<tr>
	                                        <td class="shortPadding">Catégorie :</td>
	                                        <td class="shortPadding"><i>{{item.category}}</i></td>
	                                    </tr>
	                                    <tr>
	                                        <td class="shortPadding">Référence interne :</td>
	                                        <td class="shortPadding"><i>{{item.internalReference ? item.internalReference : 'Néant'}}</i></td>
	                                    </tr> 
	                                	<tr>
	                                        <td class="shortPadding">Code barre :</td>
	                                        <td class="shortPadding"><i>{{item.barCode ? item.barCode : 'Néant'}}</i></td>
	                                    </tr> 	                                                   
	                                    <tr>
	                                        <td class="shortPadding">Unité de mesure :</td>
	                                        <td class="shortPadding"><i>{{item.mesureUnitFullName}}</i></td>
	                                    </tr>   
	                                    <tr>
	                                        <td class="shortPadding">Taxes :</td>
	                                        <td class="shortPadding">
	                                        	<i>{{item.taxesDescription ? item.taxesDescription : 'Néant'}}</i>
	                                        	<div class="pull-right">
	                                                <button ng-if="isGranted('SALES-PRODUCT-EDIT')" class="btn btn-primary btn-xs" ng-click="vm.showTaxes(item)">Taxes <i class="fa fa-eye"></i></button>
	                                            </div>
	                                        </td>
	                                    </tr> 
	                                    <tr>
	                                        <td class="shortPadding">Mode de tarification :</td>
	                                        <td class="shortPadding">
	                                        	<i>{{item.pricingSummary}}</i>
	                                        	<div class="pull-right">
	                                                <button ng-if="isGranted('SALES-PRODUCT-EDIT')" class="btn btn-primary btn-xs" ng-click="vm.showPricing(item)">Détails <i class="fa fa-eye"></i></button>
	                                            </div>
	                                        </td>
	                                    </tr>                  				                                   
	                                </table>
	                            </div>
	                        </div>
	                        <div class="panel-footer clearfix">
	                            <div class="pull-right">
	                                <button ng-if="isGranted('SALES-PRODUCT-EDIT')" class="btn btn-primary btn-xs" ng-click="vm.openEditDialog(item);">Modifier <i class="fa fa-pencil"></i></button>
	                                <button ng-if="isGranted('SALES-PRODUCT-DEL')" class="btn btn-danger btn-xs" ng-click="vm.deleteItem(item);">Supprimer <i class="fa fa-trash-o"></i></button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
		<div class="panel-footer clearfix">
			<label class="label label-danger">Total : {{vm.totalCount}} éléments - {{vm.pagesCount}} pages</label>
			<div class="text-center">
				<ul uib-pagination first-text="Premier" last-text="Dernier" previous-text="Précédent" next-text="Suivant" total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="vm.pagesCount" max-size="5" ng-change="vm.pageChanged()"></ul>
			</div>			
		</div>
	</div>
</div>