<div class="row">
	<div class="panel panel-primary">
        <div class="panel-heading clearfix">
        	<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Taxes du produit {{vm.product.name}}</h4>            
        </div>
        <div class="panel-body">
            <div class="col-md-8 col-md-offset-2">
            	<div class="row" style="margin-bottom: 10px">
            		<div class="col-md-6">
            			<div class="form-group">
							<label class="control-label col-md-3" for="tax">Taxe</label>
							<div class="input-group col-md-9">
								<select class="form-control" id="tax" name="tax" ng-model="vm.currentTaxId">
				                    <option value="">-- Choisir une taxe --</option>
				                    <option ng-repeat="option in vm.taxes" value="{{option.id}}">{{option.name}} ({{option.shortName}})</option>
				                </select>
				                <div class="input-group-btn">
				                	<button class="btn btn-primary" ng-click="vm.addNew(vm.currentTaxId)" ng-disabled="!vm.currentTaxId">Ajouter <i class="fa fa-plus"></i></button>
	                            </div>	
							</div>			                		               
						</div>
            		</div>            		
            	</div>
            	<div class="table-responsive">
	                <table class="table table-bordered table-hover shortMargin">
		                <thead>
		                	<tr>
		                        <th></th>
		                        <th>Nom complet</th>
		                        <th>Nom court</th>
		                        <th>Taux</th>
		                        <th></th>
		                    </tr>
		                </thead>
		                <tbody>
		                	<tr ng-repeat="item in vm.items">
		                        <td class="shortPadding">{{$index + 1}}</td>
		                        <td class="shortPadding"><i>{{item.name}}</i></td>
		                        <td class="shortPadding"><i>{{item.shortName}}</i></td>  
		                        <td class="shortPadding"><i>{{item.rate}} %</i></td>                                    
		                        <td>
		                            <button class="btn btn-primary btn-xs" ng-click="vm.deleteItem(item)"><i class="fa fa-trash-o"></i></button>
		                        </td>
		                    </tr>
		                    <tr ng-if="vm.items.length == 0">
                                <td colspan="5" class="text-center" style="color: orangered"><i>Aucune donnée trouvée.</i></td>
                            </tr>
		                </tbody>                                        
	                </table>
	            </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <label class="label label-danger">{{ vm.items.length }} taxe(s)</label>
            <button class="btn btn-primary pull-right" ng-click="vm.goPreviousPage()">Retour</button>
        </div>
    </div>
</div>