
<form role="form" novalidate angular-validator name="addForm" angular-validator-submit="vm.saveItem()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Nouvelle réservation
        </div>
        <div class="panel-body">
  			<div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label" for="Room"><small style="color: red">*</small>Chambre</label>
                        <select class="form-control" id="Room" name="Room" ng-model="vm.item.roomId" ng-options="r.id as r.number for r in vm.rooms" required required-message="'Chambre est un champ obligatoire'" ng-change="vm.roomChanged(vm.item.roomId)"></select>
                    </div>

                    <div class="col-sm-6 selectContainer">
                        <label class="control-label" for="NightPrice">Prix nuitée (FCFA)</label>
                        <input type="text" class="form-control" ng-model="vm.item.nightPriceApplied" name="NightPrice" id="NightPrice" disabled>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label" for="Start"><small style="color: red">*</small>Début</label>
                        <p class="input-group">
                            <input type="text" class="form-control" id="Start" name="Start" uib-datepicker-popup="{{vm.datepicker.format}}" ng-model="vm.item.start" is-open="vm.datepicker.openedStart" 
                            	datepicker-options="vm.dateOptions" required required-message="'Début est un champ obligatoire'" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openStartDatePicker($event, prop)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

					<div class="col-sm-6 selectContainer">
                        <label class="control-label" for="End"><small style="color: red">*</small>Fin</label>
                        <p class="input-group">
                            <input type="text" class="form-control" id="End" name="End" uib-datepicker-popup="{{vm.datepicker.format}}" ng-model="vm.item.end" is-open="vm.datepicker.openedEnd" 
                            	datepicker-options="vm.dateOptions" required required-message="'Fin est un champ obligatoire'" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openEndDatePicker($event, prop)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <span>(*) champ obligatoire</span>
            <div class="pull-right">
            	<button type="submit" class="btn btn-primary" click-once>Créer</button>
                <button type="button" class="btn btn-danger" ng-click="vm.cancelEdit()">Annuler</button>                
            </div>
        </div>
    </div>
</form>